{% load static %}
<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="{% static 'images/site-icon.png' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawssom-all.min.css' %}">
    {% block head %}
    {% endblock %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale= 1.0">
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title> الذهب اليوم</title>
    {% endif %}
    
    <script data-ad-client="ca-pub-7417793812205601" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light " >
        <a class="navbar-brand mr-5" href="{% url 'home' %}" style=" color: #F0B310 !important;">
          الذهب اليوم </a></a>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-5" style="color: white;">
                <li class="nav-item">
                  <a class="nav-link"  href="{% url 'news' %}">الأخبار</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  href="{% url 'goldpricestoday' %}">اسعار الذهب اليوم</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'gold-price-forecast' %}">توقعات اسعار الذهب</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="{% url 'bitcoin-price-forecast' %}">توقعات سعر البيتكوين</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dollar-price-today' %}">سعر الدولار اليوم</a>
                  </li>
                
              </ul>
              <div align="left" class="mr-5" style="direction: ltr; max-width: 100%; width: 100px;">
                  <a class="nav-link" href=""><img src="{% static 'images/circular-arrow.png' %}" style="width: 30px; height: 30px;" alt="تحديث الصفحة"></a>
              </div>
        </div>
    </nav>
  </header>
  <div class="container-fluid">
    {% block content %}
    {% endblock content %}
    <!--<a href="" alt="صعود"><i class="fas fa-angle-double-up gotopbtn"></i></a>-->
    <button onclick="topFunction()" id="myBtn" title="اصعد للاعلى">
      صعود
      <i class="fas fa-angle-double-up"></i>
    </button>
</div>
<footer>
  <div class="container-fluid">
    <div class="row footer-row ">
      <div class="col-4 mt-3">
        <a class="mr-5 " href="{% url 'home' %}"  style="color: #F0B310 !important;">
          الذهب اليوم</a>
      </div>
      <div class="col-8" >
        <div class="row" style="font-size: 16px !important; font-weight: bold !important;">
          <div align="left" class="col-11 mt-3">
            <a class="mr-3" href="{% url 'about' %}" style="  color: #F0B310 !important;max-width: 100%;" > من نحن </a>
            <a class="mr-3" href="{% url 'privacy' %}"  style=" color: #F0B310 !important;max-width: 100%;">سياسة الخصوصية</a>
            <a class="mr-3" href="{% url 'contact_us' %}" style=" color: #F0B310 !important;max-width: 100%;font-size:15px;">اتصل بنا</a>
          </div>
         
          <style>
            .card {
              max-width: 100%;
            }
            footer a {
              max-width: 100%;
            }
          </style>
        </div>
        
      </div>
      
    </div>
    <div class="row p-2 mt-4">
      <div class="col-md text-center cntry">
        <a href="{% url 'home' %}" title="اسعار الذهب اليوم فى مصر">مصر</a>
          - 
          <a href="{% url 'kuwait' %}" title="اسعار الذهب اليوم في الكويت">الكويت</a>
          - 
          <a href="{% url 'saudi' %}" title="اسعار الذهب اليوم في السعودية">السعودية</a>
            - 
            <a href="{% url 'UAE' %}" title="اسعار الذهب اليوم في الامارات">الامارات</a>
            - 
            <a href="{% url 'qatar' %}" title="اسعار الذهب اليوم فى قطر">قطر</a>
              -                   - 
              <a href="{% url 'Jordan' %}" title="اسعار الذهب اليوم في الاردن">الاردن</a>
                - 
                <a href="{% url 'Iraq' %}" title="اسعار الذهب اليوم في العراق">العراق</a>
                - 
                <a href="{% url 'Lebanon' %}" title="اسعار الذهب اليوم في لبنان">لبنان</a>
                  - 
                  <a href="{% url 'Oman' %}" title="اسعار الذهب اليوم في عمان">عمان</a>
                  - 
                  <a href="{% url 'bahrain' %}" title="اسعار الذهب اليوم في البحرين">البحرين</a>
                    - 
                    <a href="{% url 'algeria' %}" title="اسعار الذهب اليوم في الجزائر">الجزائر</a>
                    - 
                    <a href="{% url 'morocco' %}" title="اسعار الذهب اليوم في المغرب">المغرب</a>
                      -
                      <a href="{% url 'Palestine' %}" title="اسعار الذهب اليوم في فلسطين">فلسطين</a>
                    
    </div>
    </div>
    <div class="row p-2 footer-row">
      <div class="col-md text-center">
        <small class="text-light"> جميع الحقوق محفوظة &copy;  الذهب اليوم دوت كوم 2021</small>
      </div>
    </div>
  </div>
</footer>
 
  <script>
    //Get the button
    var mybutton = document.getElementById("myBtn");
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
    </script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/4e391d9e65.js"></script>
    <script src="{% static 'js/fontawssom-all.min.js' %}"></script>
</body>
</html>